<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnderCode</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body id="bodyEnv">
    <header id="headerEnv">
        <div id="headerDiv">
            <input type="file" id="file-input" style="display: none;" name="adjunto" accept=".pdf,.jpg,.png" multiple>
            <button id="file-button">File</button>
            <div class="combobox">
                <select>
                  <option value="" selected>Choose Language</option>
                  <option value="opcionJava">Java</option>
                </select>
            </div>
        </div>
        <div id="headerImg">
            <img src="../images/Logo.png" alt="">
        </div>
    </header>
    <script src="../js/botonFile.js"></script>
</body>
</html>
